<div class="row">
  <div class="large-12">
    <h1>Edit your question</h1>

      <%= form_for @question do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :description %>
        <%= f.text_area :description %>

        <%= f.submit "Edit your question!" %>
      <% end %>
  </div>
</div>
